$c0:#2d2d2d;
$c1:#393939;
$c2:#515151;
$c3:#747369;
$c4:#a09f93;
$c5:#d3d0c8;
$c6:#e8e6df;
$c7:#f2f0ec;
$c8:#f2777a;
$c9:#f99157;
$cA:#ffcc66;
$cB:#99cc99;
$cC:#66cccc;
$cD:#6699cc;
$cE:#cc99cc;
$cF:#d27b53;