#projetSpec-button {
  list-style-image: url("chrome://projetSpec/skin/icon.png"); }

window.projetSpec {
  -moz-appearance: none;
  width: 800px;
  height: 600px;
  background-color: #2d2d2d; }
  window.projetSpec * {
    -moz-appearance: none; }
  window.projetSpec.signin-process {
    /*width:400px;
    height:300px;*/
    background-color: #2d2d2d; }
  window.projetSpec hbox.content {
    background-color: #2d2d2d;
    color: #f2f0ec;
    height: 100%; }
  window.projetSpec sidebar {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0; }
  window.projetSpec input, window.projetSpec textbox, window.projetSpec textarea {
    background-color: #f2f0ec;
    color: #2d2d2d;
    padding: 1px;
    outline: 0; }
    window.projetSpec input:focus, window.projetSpec textbox:focus, window.projetSpec textarea:focus {
      -moz-box-shadow: inset 0px 0px 3px #f2777a;
      box-shadow: inset 0px 0px 3px #f2777a; }
  window.projetSpec button {
    background-color: #393939;
    color: #e8e6df; }
    window.projetSpec button:hover {
      background-color: #515151; }
  window.projetSpec input, window.projetSpec button, window.projetSpec textbox, window.projetSpec listbox, window.projetSpec select, window.projetSpec textarea {
    border-style: none;
    border-style: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none; }
  window.projetSpec .delete-button {
    background-color: #f2777a;
    padding: 1px;
    max-width: 1em;
    display: inline; }
    window.projetSpec .delete-button:hover {
      background-color: #da5f60; }
  window.projetSpec #lab_list, window.projetSpec #lab_search, window.projetSpec #search_result_cat {
    max-width: 600px; }
